# database lokal — jangan di-commit
memory.db

#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
.env

# python cache
__pycache__/
*.pyc
*.pyo

# uvicorn / python artifacts
*.egg-info/
dist/
build/